<heading>Images</heading>
<blurb>An image is a photograph, diagram, figure, or drawing.</blurb>
<preview>
	<figure class="img">
		<img src="../assets/mining-pit-operations.jpeg" alt="a photograph of a mining operation" />
		<figcaption>
			<p>Mining pit operations</p>
			<footer>
				<small class="license">BCIT 2019</small>
			</footer>
		</figcaption>
	</figure>
</preview>
<word>
	<p>#image</p>
	<img src="../assets/mining-pit-operations.jpeg" />
	<p>Alt: a photograph of a mining operation</p>
	<p>Mining pit operations</p>
	<p>License: BCIT 2019</p>
	<p>/image</p>
</word>
<notes>
	<p>Images should be JPG, PNG, or SVG files, preferably optimized for the web.</p>
	<div class="note">
		<h3>Optional elements:</h3>
		<h4>Alt Text</h4>
		<p>Include alternative (alt) text with images whenever possible. Alt text is, ideally, a short description that helps someone understand the image if they can’t see it.</p>
		<h4>Captions</h4>
		<p>Any text that is not preceded with either 'Alt:' or 'License:' and is between the #image and /image markers is considered caption text.</p>
		<h4>License Information</h4>
		<p>Add "License: <em>your reference or source text here</em>" after the caption text and before the closing /image marker.</p>
	</div>
	<p>Including titles for images helps readers comprehend the text.</p>
	<p>Images should serve an informational purpose. If an image is purely decorative, it should be appropriately sized for the content.</p>
	<div class="warning">
		<h2>Avoid Using MS Word Captions</h2>
		<p>Content placed in Word's built-in image "Insert Caption" function can't be converted.</p>
	</div>
</notes>
