<ul>
	<li class="section"><a href="/home">Home</a>
		<ul>
			<li><a href="/home#overview">Overview</a></li>
			<li><a href="/home#getting-started">Getting Started</a></li>
			<li><a href="/home#essential-tips">Essential Tips</a></li>
			<li><a href="/home#ms-word-tutorial">MS Word Tutorial</a></li>
			<li><a href="/home#templates">Templates</a></li>
		</ul>
	</li>
	<li class="section"><a href="/text">Text</a>
		<ul>
			<li><a href="/text#headings">Headings</a></li>
			<li><a href="/text#paragraphs">Paragraphs</a></li>
			<li><a href="/text#ordered-lists">Ordered Lists</a></li>
			<li><a href="/text#unordered-lists">Unordered Lists</a></li>
			<li><a href="/text#quotes">Quotes</a></li>
			<li><a href="/text#hyperlinks">Hyperlinks</a></li>
			<li><a href="/text#math">Math</a></li>
		</ul>
	</li>
	<li class="section"><a href="/media">Media</a>
		<ul>
			<li><a href="/media#images">Images</a></li>
			<li><a href="/media#audio-files">Audio Files</a></li>
			<li><a href="/media#videos">Videos</a></li>
			<li><a href="/media#size-and-position">Size and Position</a></li>
			<li><a href="/media#slider">Slider</a></li>
		</ul>
	</li>
	<li class="section"><a href="/interactions">Interactions</a>
		<ul>
			<li><a href="/interactions#reveals">Reveals</a></li>
			<li><a href="/interactions#accordions">Accordions</a></li>
			<li><a class="new" href="/interactions#tabs">Tabs</a></li>
			<li><a href="/interactions#swappers">Swappers</a></li>
			<li><a href="/interactions#line-matching">Line-Matching</a></li>
			<li><a href="/interactions#checklists">Checklists</a></li>
			<li><a href="/interactions#custom-interactions">Custom Interactions</a></li>
		</ul>
	</li>
	<li class="section"><a href="/knowledge-check">Knowledge Checks</a>
		<ul>
			<li><a href="/knowledge-check#multiple-choice">Multiple Choice</a></li>
			<li><a href="/knowledge-check#multiple-select">Multiple Select</a></li>
			<li><a href="/knowledge-check#ordering">Ordering</a></li>
			<li><a href="/knowledge-check#matching">Matching</a></li>
			<li><a href="/knowledge-check#fill-in-blank">Fill-in-the-Blank</a></li>
		</ul>
	</li>
	<li class="section"><a href="/learning-blocks">Learning Blocks</a>
		<ul>
			<li><a href="/learning-blocks#activities">Activities</a></li>
			<li><a href="/learning-blocks#assignments">Assignments</a></li>
			<li><a href="/learning-blocks#case-studies">Case Studies</a></li>
			<li><a href="/learning-blocks#definitions">Definitions</a></li>
			<li><a href="/learning-blocks#discussions">Discussions</a></li>
			<li><a class="new" href="/learning-blocks#doing">Doing</a></li>
			<li><a href="/learning-blocks#examples">Examples</a></li>
			<li><a href="/learning-blocks#group-activities">Group Activities</a></li>
			<li><a href="/learning-blocks#key-points">Key Points</a></li>
			<li><a class="new" href="/learning-blocks#knowing">Knowing</a></li>
			<li><a href="/learning-blocks#learning-outcomes">Learning Outcomes</a></li>
			<li><a href="/learning-blocks#links">Links</a></li>
			<li><a href="/learning-blocks#notes">Notes</a></li>
			<li><a href="/learning-blocks#quizzes">Quizzes</a></li>
			<li><a href="/learning-blocks#readings">Readings</a></li>
			<li><a href="/learning-blocks#reflections">Reflections</a></li>
			<li><a href="/learning-blocks#reviews">Reviews</a></li>
			<li><a href="/learning-blocks#warnings">Warnings</a></li>
		</ul>
	</li>
	<li class="section"><a href="/tables">Tables</a>
		<ul>
			<li><a href="/tables#default-tables">Default Tables</a></li>
		</ul>
	</li>
</ul>
<hr>
<div class="alt-menu-links">
	<ul>
		<li><a href="/marker-reference">Marker Reference</a></li>
		<li><a href="mailto:courseproduction@bcit.ca">Contact Us</a></li>
	</ul>
</div>
