<ul>
	<li class="section"><a href="./home.html">Home</a>
		<ul>
			<li><a href="./home.html#overview">Overview</a></li>
			<li><a href="./home.html#getting-started">Getting Started</a></li>
			<li><a href="./home.html#essential-tips">Essential Tips</a></li>
			<li><a href="./home.html#ms-word-tutorial">MS Word Tutorial</a></li>
			<li><a href="./home.html#templates">Templates</a></li>
		</ul>
	</li>
	<li class="section"><a href="./text.html">Text</a>
		<ul>
			<li><a href="./text.html#headings">Headings</a></li>
			<li><a href="./text.html#paragraphs">Paragraphs</a></li>
			<li><a href="./text.html#ordered-lists">Ordered Lists</a></li>
			<li><a href="./text.html#unordered-lists">Unordered Lists</a></li>
			<li><a href="./text.html#quotes">Quotes</a></li>
			<li><a href="./text.html#hyperlinks">Hyperlinks</a></li>
			<li><a href="./text.html#math">Math</a></li>
		</ul>
	</li>
	<li class="section"><a href="./media.html">Media</a>
		<ul>
			<li><a href="./media.html#images">Images</a></li>
			<li><a href="./media.html#audio-files">Audio Files</a></li>
			<li><a href="./media.html#videos">Videos</a></li>
			<li><a href="./media.html#size-and-position">Size and Position</a></li>
			<li><a href="./media.html#slider">Slider</a></li>
		</ul>
	</li>
	<li class="section"><a href="./interactions.html">Interactions</a>
		<ul>
			<li><a href="./interactions.html#reveals">Reveals</a></li>
			<li><a href="./interactions.html#accordions">Accordions</a></li>
			<li><a href="./interactions.html#swappers">Swappers</a></li>
			<li><a href="./interactions.html#line-matching">Line-Matching</a></li>
			<li><a href="./interactions.html#checklists">Checklists</a></li>
			<li><a href="./interactions.html#custom-interactions">Custom Interactions</a></li>
		</ul>
	</li>
	<li class="section"><a href="./knowledge-check.html">Knowledge Checks</a>
		<ul>
			<li><a href="./knowledge-check.html#multiple-choice">Multiple Choice</a></li>
			<li><a href="./knowledge-check.html#multiple-select">Multiple Select</a></li>
			<li><a href="./knowledge-check.html#ordering">Ordering</a></li>
			<li><a href="./knowledge-check.html#matching">Matching</a></li>
			<li><a href="./knowledge-check.html#fill-in-blank">Fill-in-the-Blank</a></li>
		</ul>
	</li>
	<li class="section"><a href="./learning-blocks.html">Learning Blocks</a>
		<ul>
			<li><a href="./learning-blocks.html#activities">Activities</a></li>
			<li><a href="./learning-blocks.html#assignments">Assignments</a></li>
			<li><a href="./learning-blocks.html#case-studies">Case Studies</a></li>
			<li><a href="./learning-blocks.html#definitions">Definitions</a></li>
			<li><a href="./learning-blocks.html#discussions">Discussions</a></li>
			<li><a href="./learning-blocks.html#examples">Examples</a></li>
			<li><a href="./learning-blocks.html#group-activities">Group Activities</a></li>
			<li><a href="./learning-blocks.html#key-points">Key Points</a></li>
			<li><a href="./learning-blocks.html#learning-outcomes">Learning Outcomes</a></li>
			<li><a href="./learning-blocks.html#links">Links</a></li>
			<li><a href="./learning-blocks.html#notes">Notes</a></li>
			<li><a href="./learning-blocks.html#quizzes">Quizzes</a></li>
			<li><a href="./learning-blocks.html#readings">Readings</a></li>
			<li><a href="./learning-blocks.html#reflections">Reflections</a></li>
			<li><a href="./learning-blocks.html#reviews">Reviews</a></li>
			<li><a href="./learning-blocks.html#warnings">Warnings</a></li>
		</ul>
	</li>
	<li class="section"><a href="./tables.html">Tables</a>
		<ul>
			<li><a href="./tables.html#default-tables">Default Tables</a></li>
		</ul>
	</li>
</ul>
<hr>
<div class="alt-menu-links">
	<ul>
		<li><a href="./marker-reference.html">Marker Reference</a></li>
		<li><a href="mailto:courseproduction@bcit.ca">Contact Us</a></li>
	</ul>
</div>
