//Base Colour
$bcit-blue: #003C71;
//Fraser
$fraser: #00ACA0;
$fraser-light: tint($fraser, 40%);
$fraser-lighter: tint($fraser, 70%);
$fraser-dark: shade($fraser, 40%);
$fraser-darker: shade($fraser, 65%);
//Seaglass
$seaglass: #49C5B1;
$seaglass-light: tint($seaglass, 40%);
$seaglass-lighter: tint($seaglass, 70%);
$seaglass-dark: shade($seaglass, 40%);
$seaglass-darker: shade($seaglass, 65%);
//Moss
$moss: #B5BD00;
$moss-light: tint($moss, 40%);
$moss-lighter: tint($moss, 70%);
$moss-dark: shade($moss, 40%);
$moss-darker: shade($moss, 65%);
//Pacific
$pacific: #0072CE;
$pacific-light: tint($pacific, 40%);
$pacific-lighter: tint($pacific, 70%);
$pacific-dark: shade($pacific, 40%);
$pacific-darker: shade($pacific, 65%);
//Sky
$sky: #00A3E0;
$sky-light: tint($sky, 40%);
$sky-lighter: tint($sky, 70%);
$sky-dark: shade($sky, 40%);
$sky-darker: shade($sky, 65%);
//Dusk
$dusk: #7474C1;
$dusk-light: tint($dusk, 40%);
$dusk-lighter: tint($dusk, 70%);
$dusk-dark: shade($dusk, 40%);
$dusk-darker: shade($dusk, 65%);
//Driftwood
$driftwood: #AFA9A0;
$driftwood-light: tint($driftwood, 40%);
$driftwood-lighter: tint($driftwood, 70%);
$driftwood-dark: shade($driftwood, 40%);
$driftwood-darker: shade($driftwood, 65%);
//Temlh
$temlh: #9D2235;
$temlh-light: tint($temlh, 40%);
$temlh-lighter: tint($temlh, 70%);
$temlh-dark: shade($temlh, 40%);
$temlh-darker: shade($temlh, 65%);
