<heading>Multiple Select</heading>
<blurb>Multiple select questions have several correct answers.</blurb>
<preview>
	<div class="knowledge-check">
		<ol>
			<li>
				<p>Which of the following services does the LTC provide? Select all that apply.</p>
				<p>@ See the <a href="http://www.bcit.ca/ltc/services/">LTC services</a> page.</p>
				<ol>
					<li>*Technical illustration</li>
					<li>*Instructional design</li>
					<li>Financial advice</li>
					<li>Admission and Registration</li>
					<li>*Audio-visual loans</li>
				</ol>
			</li>
		</ol>
	</div>
</preview>
<word>
	<p>#knowledge-check</p>
	<ol>
		<li>
			<p>Which of the following services does the LTC provide? Select all that apply.</p>
			<p>@ See the <a href="http://www.bcit.ca/ltc/services/">LTC services</a> page.</p>
			<ol>
				<li>*Technical illustration</li>
				<li>*Instructional design</li>
				<li>Financial advice</li>
				<li>Admission and Registration</li>
				<li>*Audio-visual loans</li>
			</ol>
		</li>
	</ol>
	<p>/knowledge-check</p>
</word>
<notes>
	<h3>Correct Answers</h3>
	<p>Correct options are indicated with a <strong>*</strong>.</p>
	<h3>Feedback</h3>
	<p>Feedback to be revealed is indicated with the <strong>@ symbol</strong>.</p>
	<div class="note">
		<p>Feedback should be part of the existing list. To add feedback, press <kbd>Shift + Enter</kbd> to create a new line within the list.</p>
	</div>
	<h3>Randomization</h3>
	<p>The order of both questions and question options can be randomized by making the list an <em>unordered</em> or "bullet" list.</p>
	<p>An <em>ordered</em>, or "numbered" list keeps the questions and options in the same order as they appear in Word.</p>
	<h3>Point Scoring</h3>
	<p>A student is not required to select any of the options, but there must be at least two correct options to be a multiple select question. Studens are awarded points for both checked correct and unchecked incorrect options. *If your question has less than 2 correct answers, you must add a paragraph indicating 'Type: multi'.</p>
</notes>
