<heading>Ordering</heading>
<blurb>The ordering question displays several items in a random order which are to be put in the correct sequence. Clicking on the "up" and "down" arrows will allow the student to reorder the items.</blurb>
<preview>
    <div class="knowledge-check">
        <ol>
            <li>Arrange the taxonomic rank into the correct hierarchy:
                <ol>
                    <li>Phylum</li>
                    <li>Class</li>
                    <li>Order</li>
                    <li>Family</li>
                    <li>Genus</li>
                    <li>Species</li>
                </ol>
            </li>
        </ol>
    </div>
</preview>
<word>
    <p>#knowledge-check</p>
    <ol>
        <li>Arrange the taxonomic rank into the correct hierarchy:
            <ol>
                <li>Phylum</li>
                <li>Class</li>
                <li>Order</li>
                <li>Family</li>
                <li>Genus</li>
                <li>Species</li>
            </ol>
        </li>
    </ol>
    <p>/knowledge-check</p>
</word>
<notes>
    <h3>Correct Sequence</h3>
    <p>Use an ordered list to put the items in the sequence required for the student to get the question correct.</p>
    <div class="note">
        <p>Items will be displayed at random and out of sequence when taking the question.</p>
    </div>
    <h3>Point Scoring</h3>
    <p>One point is awarded for every item that is in its correct spot.</p>
    <!-- Feedback is not working correctly for ordering question types -->
    <!--
    <h3>Feedback</h3>
    <p>Feedback to be revealed is indicated with the <strong>@ symbol</strong>.</p>
    <div class="note">
        <p>Feedback should be part of the existing list. To add feedback, press <kbd>Shift + Enter</kbd> to create a new line within the list.</p>
    </div>
-->
</notes>
