<heading>Quotes</heading>
<blurb>A quote is a passage that is reproduced from another source and set off from the main text.</blurb>
<preview>
	<blockquote>"One week you’ll be knee-deep in the complexities of the financial business..."
		<div class="reference">(Hey Whipple Squeeze This! p. 16)</div>
	</blockquote>
</preview>
<word>
	<p>#quote</p>
	<p>"One week you’ll be knee-deep in the complexities of the financial business..."</p>
	<p>#reference</p>
	<p>(Hey Whipple Squeeze This! p. 16)</p>
	<p>/reference</p>
	<p>/quote</p>
</word>
<notes>
	<h3>Using References</h3>
	<p>#reference and /reference can be used anywhere to indicate a source, author or reference.</p>
	<div class="accordion">
		<h3>Developer Notes</h3>
		<p>Blockquotes are indented and have a different font and line spacing.</p>
		<p>The blockquote and pullquote font is Lora, a modern serif font optimized for screen use that also works well in print. It's a good pairing with Open.</p>
	</div>
</notes>
<usage>
	<p>Use blockquotes for extended quotes or passages. Quotation marks are not required for blockquotes (as they are for inline or "pullquotes"). Blockquotes should be cited using the #reference and /reference tags.</p>
	<h3>See Also</h3>
	<ul>
		<li>Pullquotes</li>
	</ul>
</usage>
