<heading>Math</heading>
<blurb>This element can be used to style various types of equations.</blurb>
<preview>
	<figure class="math">
		<p>a <sup>2</sup> + b <sup>2</sup> = c <sup>2</sup></p>
		<figcaption>Pythagorean theorem</figcaption>
	</figure>
</preview>
<word>
	<p>#math</p>
	<p>a <sup>2</sup> + b <sup>2</sup> = c <sup>2</sup></p>
	<p>Pythagorean theorem</p>
	<p>/math</p>
</word>
<notes>
	<p>Adding class="left" will left align the equation.</p>
	<p>Figcaption is optional.</p>
	<div class="accordion">
		<h3>Developer Notes</h3>
		<p>MathML can be used once the page has been converted to HTML</p>
	</div>
</notes>
