<heading>Fill in Blank</heading>
<blurb>Add words or select an option from a dropdown menu.</blurb>
<preview>
    <div class="knowledge-check">
        <ol>
            <li>
                <p>Fill in the blank questions come in two varieties, [open-ended,open ended] and [*dropdown, throwdown, showdown, hoedown, topdown] lists.</p>
                <p>@ Use the square brackets to indicate the blank area. For open-ended questions, you can provide alternate spellings separated by a comma. Dropdown questions are similar to multiple choice as they require 1 correct answer.</p>
            </li>
        </ol>
    </div>
</preview>
<word>
    <p>#knowledge-check</p>
    <ol>
        <li>
            <p>Fill in the blank questions come in two varieties, [open-ended,open ended] and [*dropdown, throwdown, showdown, hoedown, topdown] lists.</p>
            <p>@ Use the square brackets to indicate the blank area. For open-ended questions, you can provide alternate spellings separated by a comma. Dropdown questions are similar to multiple choice as they require 1 correct answer.</p>
        </li>
    </ol>
    <p>/knowledge-check</p>
</word>
<notes>
    <h3>Correct Answers</h3>
    <p>Correct options are indicated with an asterisk (<strong>*</strong>). By specifying a correct answer, the options become a dropdown list; otherwise, the blank is "open-ended".</p>
    <h3>Feedback</h3>
    <p>Feedback to be revealed is indicated with the <strong>@ symbol</strong>.</p>
    <div class="note">
        <p>Feedback should be part of the existing list. To add feedback, press <kbd>Shift + Enter</kbd> to create a new line within the list.</p>
    </div>
    <h3>Randomization</h3>
    <p>Questions that have a correct answer indicated with a <strong>*</strong> (dropdown lists), are randomized automatically.</p>
</notes>
