<heading>Matching</heading>
<blurb>Match an numbered item with its corresponding pair.</blurb>
<preview>
    <div class="knowledge-check">
        <ol>
            <li>
                <p>Match the following things to their colour:</p>
                <p>@ Eat the rainbow. Taste the rainbow.</p>
                <ul>
                    <li>Green = Leaf</li>
                    <li>Red = Tomato</li>
                    <li>Orange = Carrot</li>
                </ul>
            </li>
        </ol>
    </div>
</preview>
<word>
    <p>#knowledge-check</p>
    <ol>
        <li>
            <p>Match the following things to their colour:</p>
            <p>@ Eat the rainbow. Taste the rainbow.</p>
            <ul>
                <li>Green = Leaf</li>
                <li>Red = Tomato</li>
                <li>Orange = Carrot</li>
            </ul>
        </li>
    </ol>
    <p>/knowledge-check</p>
</word>
<notes>
    <h3>Many to one</h3>
    <p>The many should be on the left; the ones should be on the right.</p>

    <!--Sample code to be released after Dewordify is updated-->
    <!--
        <h2>More complicated type.</h2>
        <div class="knowledge-check">
            <figure class="table">
                <table>
                    <tbody>
                        <tr>
                            <th>
                                <figure class="img"><img src="assets/1.jpeg"></figure>
                            </th>
                            <td>Sports car</td>
                        </tr>
                        <tr>
                            <th>
                                <figure class="img"><img src="assets/2.jpeg"></figure>
                            </th>
                            <td>Maple tree</td>
                        </tr>
                        <tr>
                            <th>
                                <figure class="img"><img src="assets/3.jpeg"></figure>
                            </th>
                            <td>Sunglasses</td>
                        </tr>
                    </tbody>
                </table>
            </figure>
            <ol>
                <li>
                    <p>Type: match</p>
                    <p>Match the following images to their names:</p>
                </li>
            </ol>
        </div>
    <h2>Many to one</h2>
    <p>The one(s) should be on the left; the many should be on the right.</p>
    <p>#knowledge-check</p>
    <ol>
        <li>Match these items to their native colour:
            <ol>
                <li>Red = Garnet</li>
                <li>Blue = Sapphire</li>
                <li>Green = Emerald</li>
                <li>Red = Ruby</li>
                <li>Green = Jade</li>
            </ol>
        </li>
    </ol>
    <p>/knowledge-check</p>
    <h2>Matching with feedback in a Quiz learning block</h2>
    <p>#quiz</p>
    <p>#knowledge-check</p>
    <ol>
        <li>
            <p>Match the following things to their colour:</p>
            <p>@ Eat the rainbow. Taste the rainbow.</p>
            <ul>
                <li>Banana leaf = Green</li>
                <li>Ripe tomato = Red</li>
                <li>Carrot = Orange</li>
            </ul>
        </li>
    </ol>
    <p>/knowledge-check</p>
    -->
</notes>
