.feedback-overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    .feedback-form {
        display: none;
        background-color: white;
        border: 1px solid black;
        position: absolute;
        width: 50%;
        top: 50%;
        left: 50%;
        z-index: 1000;
        transform: translate(-50%, -50%);
        label {
            display: block;
        }
        label[for^="type-"]:hover,
        label[for="follow-up"]:hover {
            background-color: lighten($bcit-blue, 65%);
            border-radius: 4px;
            cursor: pointer;
        }
        input,
        select {
            display: block;
            width: 100%;
            border: 1px solid rgb(169, 169, 169);
        }
        input[type="radio"],
        input[type="checkbox"] {
            margin-right: 6px;
            width: unset;
            display: inline-block;
            &:checked+label {
                background-color: lighten($bcit-blue, 70%);
                border-radius: 4px;
            }
        }
        input[type="email"] {
            padding: 4px 0.5em;
        }
        select {
            cursor: pointer;
        }
        textarea {
            padding: 0.5em;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border: none;
            resize: none;
        }
        form {
            margin: 5%;
            div {
                display: block;
                margin-bottom: 1em;
                &>label:first-child {
                    padding-bottom: 1px;
                    font-weight: bold;
                }
                &>label:not(:first-child) {
                    padding: 2px 5px;
                    margin: 2px 2px;
                    display: inline-block;
                }
            }
        }
        .feedback-header {
            padding: 5px;
            text-align: center;
            font-size: 1.5em;
            color: white;
            background-color: $bcit-blue;
        }
        .close-form {
            float: right;
            position: absolute;
            text-align: center;
            font-size: 1.5em;
            margin: 0 auto;
            width: 1.5em;
            height: 1.5em;
            top: 0.1em;
            right: 0.1em;
            color: white;
            cursor: pointer;
            &:hover {
                color: $pacific;
                text-shadow: 1px 1px white;
            }
        }
        .textarea-container {
            height: 150px;
            border: 1px solid rgb(169, 169, 169);
        }
        .feedback-submit-btn>button {
            display: block;
            color: white;
            background-color: $bcit-blue;
            text-align: center;
            width: 50%;
            margin: 0 auto;
            border: solid 1px $bcit-blue;
            border-radius: 25px;
            cursor: pointer;
            &:hover {
                background-color: lighten($bcit-blue, 10%);
            }
        }
        .optional-email {
            visibility: hidden;
        }
        @include media("screen", "<1100px") {
            width: 80%;
            height: auto;
            overflow-y: auto;
        }
    }
    @include media("screen", "<520px") {
        .feedback-form {
            width: 100%;
            height: 100%;
            overflow-y: auto;
        }
        form {
            margin: 2% 5%;
        }
    }
    .feedback-modal {
        background-color: $bcit-blue;
        border: 1px solid black;
        position: absolute;
        width: 50%;
        height: 20%;
        top: 50%;
        left: 50%;
        z-index: 1000;
        transform: translate(-50%, -50%);
        p {
            position: relative;
            color: white;
            top: 45%;
            text-align: center;
            font-weight: bold;
        }
        .feedback-close-modal {
            float: right;
            top: 0;
            color: white;
            margin-right: 4px;
            &:hover {
                color: $pacific;
                text-shadow: 2px 2px 5px black;
            }
        }
    }
}

.feedback-btn-group {
    position: fixed;
    color: white;
    font-size: 1.2em;
    width: 160px;
    height: 40px;
    right: -120px;
    bottom: 0px;
    .feedback-mini {
        background-color: #49c5b1;
        text-align: center;
        width: 40px;
        height: 40px;
        margin: 0 auto;
        padding: 5px;
        display: inline-block;
        cursor: pointer;
        &:hover {
            background-color: darken(#49c5b1, 20%);
        }
    }
    .feedback-button {
        display: none;
        background-color: $bcit-blue;
        text-align: center;
        width: 120px;
        height: 40px;
        margin: 0 auto;
        padding: 5px;
        z-index: 1000;
        /* display: inline-block; */
        cursor: pointer;
        &:hover {
            background-color: lighten($bcit-blue, 10%);
        }
    }
}

@media only screen and (max-height: 620px) {
    .feedback-overlay {
        .feedback-form {
            width: 100%;
            height: 100%;
            overflow-y: auto;
        }
    }
}