<heading>Paragraphs</heading>
<blurb>A paragraph is a series of related sentences around a central idea or topic.</blurb>
<preview>
    <p>Short passages are more comfortable for the reader.</p>
    <p>Paragraphs give the writer a way to distinguish between shifts in subject matter or different points to be made. At the same time, they allow a reader to feel they are moving along a bit more fluidly, taking in one point at a time. Paragraphs provide a flow.</p>
    <p>Long, rambling paragraphs ... can become boring or confusing...</p>
    <div class="reference">Adapted from <a href="https://www.quora.com/Why-do-newspapers-use-short-paragraphs">Quora.com</a>. Accessed September 2016.</div>
</preview>
<word>
    <p>Short passages are more comfortable for the reader.</p>
    <p>Paragraphs give the writer a way to distinguish between shifts in subject matter or different points to be made. At the same time, they allow a reader to feel they are moving along a bit more fluidly, taking in one point at a time. Paragraphs provide a flow.</p>
    <p>Long, rambling paragraphs ... can become boring or confusing...</p>
    <p>#reference</p>
    <p>Adapted from <a href="https://www.quora.com/Why-do-newspapers-use-short-paragraphs">Quora.com</a>. Accessed September 2016.</p>
    <p>/reference</p>
</word>
<usage>

    <p>A paragraph expands one topic of the subject of a document. Start a new paragraph when the topic or topic focus changes.</p>
    <p>Sometimes a paragraph is only one sentence.</p>
    <p>Avoid underlining or colouring text for emphasis - use bold or italicized text instead.</p>
    <h3>Note</h3>
    <p>Use the Normal style in Word to format your paragraph text:</p>
    <ol>
        <li>Click the Home tab</li>
        <li>In the Styles section, click the <em>Normal</em> style</li>
    </ol>
    <h3>Developer Notes</h3>
    <p>Open Sans is the font for paragraph text. This font is legible at different sizes. It is a modern update, very professional, and available in a variety of weights, providing great versatility.</p>
</usage>