<heading>Unordered Lists</heading>
<blurb>In an unordered list, the sequence of items is not important.</blurb>
<preview>
    <ul>
        <li>List Item 1</li>
        <li>List Item 2
            <ul>
                <li>Sub-list Item 1</li>
                <li>Sub-list Item 2
                    <ul>
                        <li>Sub-sub-list Item 1</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</preview>
<word>
    <ul>
        <li>List Item 1</li>
        <li>List Item 2
            <ul>
                <li>Sub-list Item 1</li>
                <li>Sub-list Item 2
                    <ul>
                        <li>Sub-sub-list Item 1</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</word>
<usage>
   
    <p>Unordered lists may have sub-lists (unordered or ordered) nested within.</p>
    <h3>Developer Notes</h3>
    <p>List defaults:</p>
    <dl> <dt>Level 1</dt>
        <dd>solid, round discs</dd> <dt>Level 2</dt>
        <dd>hollow, round circles</dd> <dt>Level 3</dt>
        <dd>solid squares</dd>
    </dl>
</usage>