<heading>Activities</heading>
<blurb>The default activity learning block has an icon depicting a hand using a mouse.</blurb>
<preview>
	<div class="activity">
		<h2>Market Activity</h2>
		<p>Craft a message about your product that...</p>
	</div>
</preview>
<word>
	<p>#activity</p>
	<h2>Market Activity</h2>
	<p>Craft a message about your product that...</p>
	<p>/activity</p>
</word>
<notes>
	<p>Use this learning block to present a learning activity.</p>
	<div class="example">
		<p>The activity could include an interactive object in which the student drags, clicks, or types.</p>
	</div>
</notes>
