<heading>Definitions</heading>
<blurb>A definition learning block is accompanied by a hand icon pointing to a spot in a book.</blurb>
<preview>
	<div class="definition">
		<h2>One Definition for Leadership:</h2>
		<p>The art of influencing human behaviour...</p>
	</div>
</preview>
<word>
	<p>#definition</p>
	<h2>One Definition for Leadership:</h2>
	<p>The art of influencing human behaviour...</p>
	<p>/definition</p>
</word>
<usage>
	<p>A definition learning block introduces and defines key terminology.</p>
</usage>
