<heading>Group Activities</heading>
<blurb>The group-activity learning block has an icon depicting an image of three team members.</blurb>
<preview>
	<div class="group-activity">
		<h2>Team Activity: Creating your model</h2>
		<p>Your task is to...</p>
	</div>
</preview>
<word>
	<p>#group-activity</p>
	<h2>Team Activity: Creating your model</h2>
	<p>Your task is to...</p>
	<p>/group-activity</p>
</word>
<usage>
	<p>A group-activity learning block presents information for an activity that requires students to complete in pairs or small groups. A hyperlink to an assignment folder or a discussion topic can be used here as well.</p>
</usage>
