<heading>Links</heading>
<blurb>The link learning block has an icon depicting a chain link.</blurb>
<preview>
	<div class="link">
		<h2>On The Web</h2>
		<p>View the <a href="http://www.cps.ca/documents/position/management-anticipated-extremely-preterm-birth" target="_blank" title="External link">position statement</a> on Counselling...</p>
	</div>
</preview>
<word>
	<p>#link</p>
	<h2>On The Web</h2>
	<p>View the <a href="http://www.cps.ca/documents/position/management-anticipated-extremely-preterm-birth" target="_blank" title="External link">position statement</a> on Counselling...</p>
	<p>/link</p>
</word>
<usage>
	<p>A link learning block lists hyperlinked websites or articles.</p>
</usage>
