<heading>Quizzes</heading>
<blurb>The quiz learning block has an icon depicting a question mark next to a set of enumerated options.</blurb>
<preview>
	<div class="quiz">
		<h2>Module Quiz</h2>
		<p>Take the quiz that follows...</p>
	</div>
</preview>
<word>
	<p>#quiz</p>
	<h2>Module Quiz</h2>
	<p>Take the quiz that follows...</p>
	<p>/quiz</p>
</word>
<notes>
	<h3>Formatting a Quiz for Import</h3>
	<p>If you are developing a quiz that you would like imported into the Learning Hub, there is a <a href="https://ltc.bcit.ca/help/sample-question-formats-for-importing-into-d2l-quizzes-using-respondus/">standard format for writing your questions</a>. Following this format will reduce errors and speed the production process.</p>
</notes>
