<heading>Readings</heading>
<blurb>Reading learning blocks are listed in a container accompanied by a book icon.</blurb>
<preview>
	<div class="reading">
		<h2>Weekly Readings</h2>
		<ol>
			<li>Denke, N. J. (2011). Chapter 40...</li>
		</ol>
	</div>
</preview>
<word>
	<p>#reading</p>
	<h2>Weekly Readings</h2>
	<ol>
		<li>Denke, N. J. (2011). Chapter 40...</li>
	</ol>
	<p>/reading</p>
</word>
<usage>
	<p>A reading learning block lists, in APA or other format, mandatory or suggested reading materials.</p>
</usage>
