<heading>Checklists</heading>
<blurb>Checklists are a simple way to mark tasks as completed, and to reveal content when items are checked.</blurb>
<preview>
	<div class="checklist">
		<p>Technical Issues in Software Development</p>
		<ul>
			<li>Draw a flow chart in Visio
				<ul>
					<li>Describe functionality</li>
					<li>
						<p>Assignment 1</p>
						<p>@</p>
						<div class="quiz">
							<p>After submitting your assignment, please take the Week 2 quiz.</p>
						</div>
					</li>
				</ul>
			</li>
			<li>Write pseudo code</li>
		</ul>
	</div>
</preview>
<word>
	<p>#checklist</p>
	<p>Technical Issues in Software Development</p>
	<ul>
		<li>Draw a flow chart in Visio
			<ul>
				<li>Describe functionality</li>
				<li>
					<p>Assignment 1</p>
					<p>@</p>
					<p>#quiz</p>
					<p>After submitting your assignment, please take the Week 2 quiz.</p>
					<p>/quiz</p>
				</li>
			</ul>
		</li>
		<li>Write pseudo code</li>
	</ul>
	<p>/checklist</p>
</word>
<notes>
	<h3>Feedback</h3>
	<p>Feedback to be revealed is indicated with the <strong>@ symbol</strong>.</p>
	<div class="note">
		<p>Feedback should be part of the existing list. To add feedback, press <kbd>Shift + Enter</kbd> to create a new line within the list.</p>
	</div>

	<p>Checklists remember that items are marked as done unless you clear your browser's cache.</p>
	<div class="accordion">
		<h3>Developer Notes</h3>
		<p>Add the class <code>strikethrough</code> to the <code>div</code> if you want completed items to have a line through them.</p>
	</div>
</notes>
