<heading>Accordions</heading>
<blurb>Accordions are panel buttons that expand downwards to show further content.</blurb>
<preview>
	<div class="accordion">
		<h2>Tolerance Levels</h2>
		<p>The human body has tolerance levels...</p>
		<h2>Multiple Kinds of Energy</h2>
		<p>The interaction of two or more kinds of energy...</p>
	</div>
</preview>
<word>
	<p>#accordion</p>
	<h2>Tolerance Levels</h2>
	<p>The human body has tolerance levels...</p>
	<h2>Multiple Kinds of Energy</h2>
	<p>The interaction of two or more kinds of energy...</p>
	<p>/accordion</p>
</word>
<notes>
	<p>Accordions help the user navigate through related content on a page. Content can be text, an image, a table, a list, etc.</p>
	<p>Avoid using an accordion if it will result in a single panel as opposed to one or more panels. Also, consider using a <a href="/interactions#reveals">reveal element</a> instead of an accordion if the content has more of a question/answer type format.</p>
	<div class="note">
		<p>Accordions are not always the best solution for consolidating information. See the <a href="https://www.nngroup.com/articles/accordions-complex-content/">Nielsen Norman Group's research on accordion user interface problems</a>.</p>
	</div>
	<div class="accordion">
		<h3>Developer Notes</h3>
		<p>You can add <code>class="collapsing"</code> to the wrapper to modify behaviour so that when a new accordion button is opened, others are closed.</p>
		<div class="warning">
			<p>This can be very disorienting and quite difficult to compare content. Use sparingly.</p>
		</div>
	</div>
</notes>
