<heading>Swappers</heading>
<blurb>Swappers can be used to cycle through various types of content, one item at a time.</blurb>
<preview>
	<div class="swapper">
		<div class="activity">
			<h3>Try this activity</h3>
			<p>After researching your topic...</p>
		</div>
		<figure class="image smaller">
			<img src="../assets/mining-pit-operations.jpeg" alt="a photograph of a mining operation" />
			<figcaption>Mining Pit Operations</figcaption>
		</figure>
		<figure class="image smaller">
			<img src="../assets/multiple-energies.png" alt="a graphic of different kinds of multiple energies" />
		</figure>
		<figure class="video smaller">
			<iframe src="https://www.youtube.com/embed/lOT0GOyw2pY" allowfullscreen></iframe>
			<figcaption>Great video</figcaption>
		</figure>
	</div>
</preview>
<word>
	<p>#swapper</p>
	<p>#activity</p>
	<h3>Try this activity</h3>
	<p>After researching your topic...</p>
	<p>/activity</p>
	<p>#image</p>
	<img src="../assets/mining-pit-operations.jpeg" alt="a photograph of a mining operation" />
	<p>Alt: a photograph of a mining operation</p>
	<p>Mining Pit Operations</p>
	<p>/image</p>
	<p>#image</p>
	<img src="../assets/multiple-energies.png" alt="a graphic of different kinds of multiple energies" />
	<p>Alt: a graphic of different kinds of multiple energies</p>
	<p>/image</p>
	<p>#video</p>
	<p>Source: <a href="https://www.youtube.com/embed/lOT0GOyw2pY">https://www.youtube.com/embed/lOT0GOyw2pY</a></p>
	<p>Great video</p>
	<p>/video</p>
	<p>/swapper</p>
</word>
<notes>
	<p>Although the swapper can be used to display almost any type of content, it's best to use it with related media.</p>
</notes>
