<heading>Line-Matching</heading>
<blurb>The matching activity is a simple, on-page self-assessment that requires the user to connect a series of questions to their correct answers. Each question can have one (1-to-1 matching) answer. On a desktop, a user drags a line to connect a question to its correct answer. On mobile interfaces, the user simply clicks to match up questions with their answers.</blurb>
<preview>
    <div class="line-matching">
        <p>Match the following academic programs to the appropriate School at BCIT.</p>
        <figure class="table">
            <table>
                <thead>
                    <tr>
                        <th>School</th>
                        <th>Program</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>School of Energy</td>
                        <td>Power Engineering</td>
                    </tr>
                    <tr>
                        <td>School of Health Sciences</td>
                        <td>Nuclear Medicine</td>
                    </tr>
                    <tr>
                        <td>School of Business</td>
                        <td>Human Resource Management</td>
                    </tr>
                    <tr>
                        <td>School of Computing &amp; Academic studies</td>
                        <td>Technical Web Design</td>
                    </tr>
                    <tr>
                        <td>School of Transportation</td>
                        <td>Aircraft Maintenance Technician - Avionics</td>
                    </tr>
                    <tr>
                        <td>Civil Engineering</td>
                        <td>School of Construction &amp; the Environment</td>
                    </tr>
                </tbody>
            </table>
        </figure>
    </div>
</preview>
<word>
    <p>#line-matching</p>
    <p>Match the following academic programs to the appropriate School at BCIT.</p>
    <figure class="table">
        <table>
            <thead>
                <tr>
                    <th>School</th>
                    <th>Program</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>School of Energy</td>
                    <td>Power Engineering</td>
                </tr>
                <tr>
                    <td>School of Health Sciences</td>
                    <td>Nuclear Medicine</td>
                </tr>
                <tr>
                    <td>School of Business</td>
                    <td>Human Resource Management</td>
                </tr>
                <tr>
                    <td>School of Computing &amp; Academic studies</td>
                    <td>Technical Web Design</td>
                </tr>
                <tr>
                    <td>School of Transportation</td>
                    <td>Aircraft Maintenance Technician - Avionics</td>
                </tr>
                <tr>
                    <td>Civil Engineering</td>
                    <td>School of Construction &amp; the Environment</td>
                </tr>
            </tbody>
        </table>
    </figure>
    <p>/line-matching</p>
</word>
<notes>
    <p>The order of the matching terms is automatically randomized.</p>
    <h3>Text Length</h3>
    <p>Ideally, text for both questions and answers should be kept to a maximum of 140 characters. Large amount of text will have a reduced font size and may not provide the best user experience for students when using this interaction.</p>
    <h3>Multimedia</h3>
    <p>While multimedia elements like images and videos can be accommodated into this interaction, it is <strong>not recommended</strong> as size restrictions will prevent them from being rendered in their best quality.</p>
</notes>
