<heading>Tabs</heading>
<blurb>Tabs are content containers that allow users to switch between different sections of content.</blurb>
<preview>
	<div class="tabs">
		<h2>Northwest Territories</h2>
		<p>tab-text: Northwest</p>
		<ul>
			<li>Capital: Yellowknife</li>
			<li> Entered Confederation: 1870</li>
		</ul>
		
		<h2>Yukon</h2>
		<ul>
			<li>Capital: Whitehorse</li>
			<li>Entered Confederation: 1898</li>
		</ul>

		<h2>Nunavut</h2>
		<ul>
			<li>Capital: Iqaluit</li>
			<li>Entered Confederation: 1999</li>
		</ul>
	</div>
</preview>
<word>
	<p>#tabs</p>
	<h2>Northwest Territories</h2>
	<p>tab-text: Northwest</p>
	<ul>
		<li>Capital: Yellowknife</li>
		<li> Entered Confederation: 1870</li>
	</ul>
	
	<h2>Yukon</h2>
	<ul>
		<li>Capital: Whitehorse</li>
		<li>Entered Confederation: 1898</li>
	</ul>

	<h2>Nunavut</h2>
	<ul>
		<li>Capital: Iqaluit</li>
		<li>Entered Confederation: 1999</li>
	</ul>
	<p>/tabs</p>
</word>
<notes>
	<p>Tabs help to organize content and reduce the amount of scrolling required to view information. Content can be text, an image, a table, a list, etc.</p>
	<p>The location of the tabs navigation can be changed from the default right-side to top, bottom, or left-side.</p>
	<p>Each tab can be customized with a different colour.</p>
	
	<div class="accordion">
		<h3>Developer Notes</h3>
		<h4>Tabs Position</h4>
		<p>You can change the position of the tabs navigation from left-side to others by adding the class bellow:</p>
		<ul>
			<li><code>&#60;div class="tabs nav-top"&#62;</code></li>
			<li><code>&#60;div class="tabs nav-bottom"&#62;</code></li>
			<li><code>&#60;div class="tabs nav-left"&#62;</code></li>
		</ul>
		<h4>Tabs Colour</h4>
		<p>You can change the colour of individual tabs by adding the data attribute with the choice of colour bellow on the <code>&#60;h2&#62;</code> tag:</p>
			<ul>
				<li><code>&#60;h2 data-color="blue"&#62;</code></li>
				<li><code>&#60;h2 data-color="#0000FF"&#62;</code></li>
			</ul>
		<p>You can also change it to only using one colour (green) by adding:</p>
		<ul>
			<li><code>&#60;div class="tabs mono-color"&#62;</code></li>
		</ul>
		<h4>Tabs size</h4>
		<p>You can make the size of the tabs larger by adding the class bellow:</p>
		<ul>
			<li><code>&#60;div class="tabs large"&#62;</code></li>
			<li><code>&#60;div class="tabs larger"&#62;</code></li>
			<li><code>&#60;div class="tabs largest"&#62;</code></li>
		</ul>
	</div>
</notes>
