<heading>Assignments</heading>
<blurb>An assignment learning block is accompanied by a dropbox icon.</blurb>
<preview>
	<div class="assignment">
		<h2>Isometric Drawings Assignment</h2>
		<p>This practical assignment...</p>
	</div>
</preview>
<word>
	<p>#assignment</p>
	<h2>Isometric Drawings Assignment</h2>
	<p>This practical assignment...</p>
	<p>/assignment</p>
</word>
<usage>
	<p>An assignment learning block introduces and explains details of an assignment. It may include a hyperlink to an assignment folder.</p>
</usage>
