<heading>Discussions</heading>
<blurb>The discussion learning block has an icon depicting a chat bubble.</blurb>
<preview>
	<div class="discussion">
		<h2>Weekly Discussion</h2>
		<p>Please post any questions about...</p>
	</div>
</preview>
<word>
	<p>#discussion</p>
	<h2>Weekly Discussion</h2>
	<p>Please post any questions about...</p>
	<p>/discussion</p>
</word>
<usage>
	<p>A discussion learning block prompts discussion among students. It presents information that a student will typically have to respond to via the discussion tool. A hyperlink to a discussion topic can be used here as well.</p>
</usage>
