<heading>Key Points</heading>
<blurb>The key point learning block has an icon depicting a key.</blurb>
<preview>
	<div class="key-point">
		<h2>Acidosis Key points</h2>
		<ul>
			<li>Acidosis is...</li>
		</ul>
	</div>
</preview>
<word>
	<p>#key-point</p>
	<h2>Acidosis Key points</h2>
	<ul>
		<li>Acidosis is...</li>
	</ul>
	<p>/key-point</p>
</word>
<usage>
	<p>A key-point learning block highlights important concepts or information that the student should make sure they understand and remember.</p>
</usage>
