<heading>Knowing</heading>
<blurb>The knowing learning block features an icon depicting a side profile of a head with a brain silhouette.</blurb>
<preview>
	<div class="knowing">
		<h2>Knowing</h2>
		<p>Assess your knowledge of the key concepts by answering the following questions...</p>
	</div>
</preview>
<word>
	<p>#knowing</p>
	<h2>Knowing</h2>
	<p>Assess your knowledge of the key concepts by answering the following questions...</p>
	<p>/knowing</p>
</word>
<usage>
	<p>A knowing learning block is used to highlight or self-assess important concepts or information that the student should make sure they understand and remember.</p>
</usage>
