<heading>Learning Outcomes</heading>
<blurb>The learning outcomes learning block has an icon depicting a checklist.</blurb>
<preview>
	<div class="outcome">
		<h2>This Week's Objectives</h2>
		<p>By the end of this week you should be able to:</p>
		<ol>
			<li>Determine...</li>
		</ol>
	</div>
</preview>
<word>
	<p>#outcome</p>
	<h2>This Week's Objectives</h2>
	<p>By the end of this week you should be able to:</p>
	<ol>
		<li>Determine...</li>
	</ol>
	<p>/outcome</p>
</word>
<usage>
	<p>An outcome learning block introduces the learning objectives for a module. It is typically used on the Introduction page of each module.</p>
</usage>
